<!-- app/templates/d3_test_01.html -->
{% extends "base.html" %}

{% block title %}D3 Test{% endblock %}

{% block content %}
<div id="d3-container">
    <h2 class="custom-sidebar">D3.js -> Круг</h2>
    {% include "svg_container.html" %}
</div>

<script>
    // Example D3.js code to create a simple circle
    const svg = d3.select("svg");
    svg.append("circle")
        .attr("cx", 300)
        .attr("cy", 200)
        .attr("r", 100)
        .style("fill", "lightgreen")
        .style("stroke", "red")
        .style("stroke-width", 3);
</script>
{% endblock %}
